# Lab 1.01 - Australian Athletes (ais)

In the Python cell below this one, paste all the imports you need for data analysis from the code examples (Numpy, Pandas, etc.).

In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
from pandas.api.types import CategoricalDtype

import matplotlib.pyplot as plt
from statsmodels.graphics.mosaicplot import mosaic
import seaborn as sns

Declare a variable `ais` and use it to import the dataset from the CSV-file `ais.csv` in [the directory `data/`](https://github.com/HoGentTIN/dsai-en-labs/tree/main/data) of the [Github repository](https://github.com/HoGentTIN/dsai-en-labs/) for the lab assignments. You can import a dataset with a URL pointing to the raw contents of the CSV-file in the Github repository (see the code example!).

This dataset contains 202 observations of Australian athletes with a variety of blood values. You can find the codebook (i.e., the explanation of what each variable/column in the dataset means) in [data/ais.md](https://github.com/HoGentTIN/dsai-en-labs/blob/main/data/ais.md). Show the first few observations of this sample.

In [8]:
ais = pd.read_csv('../data/ais.csv')

Get general information about this dataset:

- How many rows and columns does the dataset have?
- Show general information about each variable, specifically the number of empty fields and the type of each variable (e.g., int64, float64, object)
- How many columns of each type are there?
- What is the measurement level (nominal, ordinal, interval, ratio) of each variable?

In [20]:
print(f"Aantal rijen: {len(ais)}")
print(f"Aantal kolommen: {len(ais.columns)}")
ais.info()
print("*"*50)
print(ais.dtypes.value_counts())
print("*"*50)
print(ais.dtypes)

Aantal rijen: 202
Aantal kolommen: 14
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      202 non-null    int64
 1   rcc     202 non-null    float64
 2   wcc     202 non-null    float64
 3   hc      202 non-null    float64
 4   hg      202 non-null    float64
 5   ferr    202 non-null    int64
 6   bmi     202 non-null    float64
 7   ssf     202 non-null    float64
 8   pcBfat  202 non-null    float64
 9   lbm     202 non-null    float64
 10  ht      202 non-null    float64
 11  wt      202 non-null    float64
 12  sex     202 non-null    object
 13  sport   202 non-null    object
dtypes: float64(10), int64(2), object(2)
memory usage: 22.2+ KB
**************************************************
float64    10
int64       2
object      2
Name: count, dtype: int64
**************************************************
id          int64
rcc       float64
wcc       float64
hc        float64
hg        float64
ferr        int64
bmi       float64
ssf       float64
pcBfat    float64
lbm       float64
ht        float64
wt        float64
sex        object
sport      object
dtype: object

The column "id" is not an actual variable, but an index. Mark it as such.

In [21]:
ais.set_index(['id'])

,rcc,wcc,hc,hg,ferr,bmi,ssf,pcBfat,lbm,ht,wt,sex,sport
id,,,,,,,,,,,,,
1,3.96,7.5,37.5,12.3,60,20.56,109.1,19.75,63.32,195.9,78.9,f,B_Ball
2,4.41,8.3,38.2,12.7,68,20.67,102.8,21.30,58.55,189.7,74.4,f,B_Ball
3,4.14,5.0,36.4,11.6,21,21.86,104.6,19.88,55.36,177.8,69.1,f,B_Ball
4,4.11,5.3,37.3,12.6,69,21.88,126.4,23.66,57.18,185.0,74.9,f,B_Ball
5,4.45,6.8,41.5,14.0,29,18.96,80.3,17.64,53.20,184.6,64.6,f,B_Ball
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,4.90,7.6,45.6,16.0,90,27.56,67.2,11.79,82.00,183.9,93.2,m,W_Polo
199,5.66,8.3,50.2,17.7,38,23.76,56.5,10.05,72.00,183.5,80.0,m,Tennis
200,5.03,6.4,42.7,14.3,122,22.01,47.6,8.51,68.00,183.1,73.8,m,Tennis
201,4.97,8.8,43.0,14.9,233,22.34,60.4,11.50,63.00,178.4,71.1,m,Tennis
202,5.38,6.3,46.0,15.7,32,21.07,34.9,6.26,72.00,190.8,76.7,m,Tennis

The variables that are now considered "object" are qualitative variables. Change the type of each of these variables to "category". For ordinal variables, also define a type and impose an order. Verify that the conversion was successful by requesting info about the types again.

In [25]:
ais = ais.astype({col: "category" for col in ais.select_dtypes(include="object").columns})
print(ais.dtypes)
# Alternative solution, manueel zetten voor elke variabel
#ais["sex"] = ais["sex"].astype("category")
#ais["sport"] = ais["sport"].astype("category")
ais["sport"] = ais["sport"].astype(CategoricalDtype(categories=sport_order,ordered=True))

id           int64
rcc        float64
wcc        float64
hc         float64
hg         float64
ferr         int64
bmi        float64
ssf        float64
pcBfat     float64
lbm        float64
ht         float64
wt         float64
sex       category
sport     category
dtype: object

Describe the columns `ferr`, `bmi`, `sex` and `sport` and the unique values in each of these columns. Do you recognize the characteristics of qualitative and quantitative variables in the result?

In [42]:
print(ais[["ferr","bmi"]].describe())
print('*'*50)
print(ais[["sex","sport"]].describe())
print('*'*50)
print("Unieke waarden in 'ferr':", ais["ferr"].unique())
print('*'*50)
print("Unieke waarden in 'bmi':", ais["bmi"].unique())
print('*'*50)
print("Unieke waarden in 'sex':", ais["sex"].unique())
print('*'*50)
print("Unieke waarden in 'sport':", ais["sport"].unique())


#ais["ferr"].unique()

             ferr         bmi
count  202.000000  202.000000
mean    76.876238   22.955891
std     47.501239    2.863933
min      8.000000   16.750000
25%     41.250000   21.082500
50%     65.500000   22.720000
75%     97.000000   24.465000
max    234.000000   34.420000
**************************************************
        sex sport
count   202   202
unique    2    10
top       m   Row
freq    102    37
**************************************************
Unieke waarden in 'ferr': [ 60  68  21  69  29  42  73  44  41  38  26  30  48  43  34  53  59  40
  92  77  71  37  85  64  19  39  13  20  22  78 109 102 107  58 127  86
  50  33  51  82  25  27 115 124  54 164  36  62  90  12  45  16  46  57
  88 182  80  66  63  97  55  76  93 155  99  35 176 177 130 125 150  89
 183  84  70 118  61  72  91 110  49   8 106  32 103 101  56  74  87 139
  67 132 212  94 213 122 184 220 191 189 141 126 234 156 117  52 133 214
 143  65 233]
**************************************************
Unieke waarden in 'bmi': [20.56 20.67 21.86 21.88 18.96 21.04 21.69 20.62 22.64 19.44 25.75 21.2
 22.03 25.44 22.63 22.27 21.27 23.47 23.19 23.17 24.54 22.96 19.76 23.36
 22.67 24.24 24.21 20.46 20.81 20.17 23.06 24.4  23.97 22.62 19.16 21.15
 21.4  21.03 21.77 21.38 21.47 24.45 22.8  23.58 20.06 23.01 24.64 18.26
 24.47 23.99 26.24 20.04 25.72 25.64 19.87 23.35 22.42 20.42 22.13 25.17
 23.72 21.28 20.87 19.   22.04 20.12 21.35 28.57 26.95 28.13 26.85 25.27
 31.93 16.75 19.54 22.76 22.35 20.77 19.37 22.37 17.54 19.06 20.3  20.15
 25.36 22.12 21.25 20.53 17.06 18.29 18.37 18.93 17.79 17.05 20.31 22.46
 23.88 23.68 23.15 22.32 24.02 23.29 25.11 22.81 26.25 22.52 26.73 23.57
 25.84 24.06 23.85 25.09 23.84 25.31 19.69 26.07 25.5  23.69 26.79 25.61
 25.06 24.93 20.69 25.93 25.38 22.68 22.44 22.57 19.81 21.19 20.39 21.12
 21.89 29.97 27.39 23.11 21.75 20.89 22.83 22.02 20.07 21.24 19.63 21.65
 23.25 32.52 22.59 30.18 34.42 24.81 21.68 23.12 20.76 23.13 22.28 23.55
 19.85 26.51 24.78 33.73 23.31 24.51 25.37 23.67 24.28 25.82 21.93 23.38
 23.07 25.21 22.93 26.86 21.26 25.43 27.79 27.56 23.76 22.01 22.34 21.07]
**************************************************
Unieke waarden in 'sex': ['f', 'm']
Categories (2, object): ['f', 'm']
**************************************************
Unieke waarden in 'sport': ['B_Ball', 'Row', 'Netball', 'Swim', 'Field', 'T_400m', 'T_Sprnt', 'Tennis', 'Gym', 'W_Polo']
Categories (10, object): ['B_Ball', 'Field', 'Gym', 'Netball', ..., 'T_400m', 'T_Sprnt', 'Tennis', 'W_Polo']

Select following elements from the dataset:

- the second row (ids = 2)
- rows 4 to 6 (ids = 5 to 7)
- Columns 6 to 8 (`ferr`, `bmi`, `ssf`)
- the variable `pcBfat` (by name!). There are multiple ways to retrieve this!
- all observations for the sport "Netball"
- just the variable `wt` of the observations for "Netball"
- which sports are played by athletes with a BMI higher than 26? Also, provide a list of the unique values and a frequency table of how often each sport occurs.

In [74]:
# #Geburik maken van iloc[]
# print(ais.iloc[ais.index == 1])
# print('*'*50)
# print(ais.iloc[3:6])
# print('*'*50)
# print(ais[['ferr','bmi','ssf']])
# print('*'*50)

# # Als dataframe
# print(ais[['pcBfat']])

# # Als serie
# # print(ais['pcBfat']) # Handig voor bewerkingen
# #OF via:
# # print(ais.loc[:,'pcBfat'])

# print('*'*50)

# print(ais[ais["sport"] == "Netball"])

# print('*'*50)
# # .loc[] is een methode in Pandas waarmee je rijen en kolommen kunt selecteren op basis van labels (namen of voorwaarden). 
# print(ais.loc[ais["sport"] == "Netball", "wt"])

print('*'*50)

unique_sport_26 = ais.loc[ais['bmi'] > 26, "sport"]
#print(unique_sport_26)
#print(unique_sport_26.unique())
print(unique_sport_26.value_counts())

**************************************************
sport
Field      12
W_Polo      3
Row         2
Swim        2
T_Sprnt     1
Netball     1
B_Ball      0
Gym         0
T_400m      0
Tennis      0
Name: count, dtype: int64